{% extends 'base.html.twig' %}

{% block title %}Récupérer le mot de passe{% endblock %}

{% block bodyClass %}password-update{% endblock %}

{% block body %}
	<div class="base-container text-center">
    <h1 class="title-1">Modifier le mot de passe</h1>
    <div class="info-message">Veuillez rentrer votre adresse email pour recevoir un lien de changement de mot de passe.</div>
      {% for label, messages in app.flashes %}
        {% for message in messages %}
          <div class="{{ label }}-message">
            <div>{{ message }}</div>
          </div>
        {% endfor %}
      {% endfor %}
  </div>
  <div class="form-container">
    <div class="form-subcontainer">
      {{ form_start(passwordRecoveryForm) }}
      {{ form_widget(passwordRecoveryForm) }}

      <button type="submit" class="btn">Modifier mon mot de passe</button>
      {{ form_end(passwordRecoveryForm) }}
      <a class="primary" href="{{ path('login') }}">Vous connaissez votre mot de passe ?</a>
    </div>
  </div>
{% endblock %}
