{% extends 'base.html.twig' %}

{% block title %}
	{{category.name}}
{% endblock %}

{% block body %}

  {% for label, messages in app.flashes %}
    {% for message in messages %}
      <div class="{{ label }}-message">
        <div>{{ message }}</div>
      </div>
    {% endfor %}
  {% endfor %}

	<h1 class="title-1 text-center">{{category.name}}</h1>
	<div class="base-container">
    <p>{{category.description}}</p>
  </div>

{% endblock %}
