{% extends 'base.html.twig' %}

{% block title %}Modifier la catégorie
{% endblock %}

{% block body %}

	{% if app.user %}
		<form class="flex flex-col" action="http://127.0.0.1:8000/category/update/{{category.id}}" method="POST" enctype="multipart/form-data">
			{{ form_start(registrationForm) }}
      {{ form_widget(registrationForm) }}

	    <button type="submit" class="btn">Inscription</button>
	    {{ form_end(registrationForm) }}
		</form>
	{% else %}
		Veuillez vous connecter pour pouvoir ajouter une nouvelle catégorie :
		<a href="{{ path('app_login') }}">Connexion</a>
	{% endif %}

{% endblock %}
