<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}{% endblock %}
	</head>
	<body class="bg-neutral-100">
		<header class="p-4 bg-blue-500 flex justify-center">
      <a class="bg-orange-400 px-4 py-2 rounded-full mx-2 text-white font-semibold" href="{{ path('trick_show_all') }}">Tricks</a>
      <a class="bg-orange-400 px-4 py-2 rounded-full mx-2 text-white font-semibold" href="{{ path('create_trick_page') }}">Ajouter un trick</a>
			{% if app.user %}
				<a class="bg-orange-400 px-4 py-2 rounded-full mx-2 text-white font-semibold" href="">Mon compte</a>
				<a class="bg-orange-400 px-4 py-2 rounded-full mx-2 text-white font-semibold" href="{{ path('app_logout') }}">Déconnexion</a>
			{% else %}
				<a class="bg-orange-400 px-4 py-2 rounded-full mx-2 text-white font-semibold" href="{{ path('app_login') }}">Connexion</a>
			{% endif %}


		</header>
		<div class="flex justify-center py-6">
			  <div class="max-w-5xl w-full bg-white p-4 rounded">
          {% block body %}{% endblock %}
				</div>
			</div>
	</body>
</html>
