<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		{% block stylesheets %}
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
			<link rel="stylesheet" href="{{ asset('css/styles.css') }}"/>
		{% endblock %}
		{% block javascripts %}
      <script src="{{ asset('js/index.js') }}" type="module"></script>
    {% endblock %}
	</head>

	<body class="bg-neutral-100">

		<header class="p-4 bg-blue-500 flex justify-center">
      <div class="header-container">
        <div>
          <h2 class="title-2">Snowtricks</h2>
        </div>
        <div class="burger-btn">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="overlay"></div>
        <nav>
          <a class="secondary" href="{{ path('home') }}">Home</a>
          <a class="secondary" href="{{ path('trick_show_all') }}">Tricks</a>
          {% if app.user %}
            <a class="secondary" href="{{ path('app_logout') }}">Logout</a>
          {% else %}
            <a class="secondary" href="{{ path('app_login') }}">Sign in</a>
            <a class="secondary" href="{{ path('app_register') }}">Sign up</a>
          {% endif %}
        </nav>
      </div>
		</header>

		<div class="flex justify-center py-6">
			  <div class="max-w-5xl w-full bg-white p-4 rounded">
          {% block body %}{% endblock %}
				</div>
			</div>
	</body>
</html>
