<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
        Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://kit.fontawesome.com/e869897231.js" crossorigin="anonymous"></script>

		{% block stylesheets %}
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
			<link rel="stylesheet" href="{{ asset('css/styles.css') }}"/>
		{% endblock %}

    <script type="module">
      import burgerMenu from "{{ asset('js/allPages/burgerMenu.js') }}";
      import displayHeader from "{{ asset('js/allPages/displayHeader.js') }}";
      burgerMenu();
      displayHeader();
    </script>

		{% block javascripts %}{% endblock %}

	</head>

	<body class="{% block bodyClass %}{% endblock %}">

		<header id="header">
      <div class="header-container">
        <div>
          <h2 class="title-2">Snowtricks</h2>
        </div>
        <div class="burger-btn">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="overlay"></div>
        <nav>
          <a class="secondary" href="{{ path('home') }}">Home</a>
          <a class="secondary" href="{{ path('home') }}#tricks-container">Tricks</a>
          {% if app.user %}
            <a class="secondary" href="{{ path('trick_create') }}">Ajouter un trick</a>
            <a class="secondary" href="{{ path('category_display_all') }}">Catégories</a>
            <a class="secondary" href="{{ path('logout') }}">Logout</a>
          {% else %}
            <a class="secondary" href="{{ path('login') }}">Sign in</a>
            <a class="secondary" href="{{ path('register') }}">Sign up</a>
          {% endif %}
        </nav>
      </div>
		</header>

    <div class="main-content">
      {% block body %}{% endblock %}
    </div>
	</body>
</html>
