{% extends 'base.html.twig' %}

{% block title %}
	Ajouter un trick
{% endblock %}

{% block body %}

	<h1>Nom de la figure :
		{{trick.name}}</h1>
	<h2>Description :
	</h2>
	{{trick.description}}

	{% for message in messages %}
		<li>
			<p>{{message.content}}</p>
			<!--<a href="updatepage/{{message.id}}">Modifier</a>
						<a href="delete/{{message.id}}">Supprimer</a> -->
      <a class="bg-blue-500 hover:bg-blue-400 px-2 py-1 rounded mx-2 text-white font-semibold" href="../../message/updatepage/{{message.id}}">Modifier</a>
      <a class="bg-blue-500 hover:bg-blue-400 px-2 py-1 rounded mx-2 text-white font-semibold" href="../../message/delete/{{message.id}}">Supprimer</a>
		</li>
	{% endfor %}

	<form action="http://127.0.0.1:8000/message/create/{{trick.id}}" method="POST" enctype="multipart/form-data">
		<label for="content">Envoyer un message : </label>
		<textarea class="w-full rounded bg-neutral-200" name="content" id="content" type="text" placeholder="Entrez votre message ici..." required="true"></textarea>
		<button class="bg-blue-500 hover:bg-blue-400 px-2 py-1 rounded text-white font-semibold w-fit" type="submit">Valider</button>
	</form>

{% endblock %}
