{% extends 'base.html.twig' %}

{% block title %}Ajouter un trick{% endblock %}

{% block bodyClass %}update-trick{% endblock %}

{% block javascripts %}
  <script type="module">
    import checkVideoForm from "{{ asset('js/trickForms/checkVideoForm.js') }}";
    checkVideoForm('#update_trick_form_videos', 'label[for="update_trick_form_videos"]');
  </script>
{% endblock %}

{% block body %}

	{% if app.user %}
		<div class="base-container">
      <div class="form-container">
        <div class="form-subcontainer">
          {{ form_start(updateTrickForm) }}
          {{ form_widget(updateTrickForm) }}
            <button type="submit">Valider</button>
          {{ form_end(updateTrickForm) }}
        </div>
      </div>
    </div>
	{% else %}
		<div class="base-container">
      Veuillez vous connecter pour pouvoir modifier le trick : <a class="primary" href="{{ path('login') }}">Connexion</a>
    </div>
	{% endif %}

{% endblock %}
