{% extends 'base.html.twig' %}

{% block title %}Modifier profil{% endblock %}

{% block bodyClass %}user-update{% endblock %}

{% block javascripts %}
  <script type="module">
    import deleteUser from "{{ asset('js/user/deleteUser.js') }}";
    deleteUser();
  </script>
{% endblock %}

{% block body %}
  <div class="base-container">
    <div class="info-message">Le changement d'adresse email est impossible. Pour changer de mot de passe, merci de <a class="primary" href="{{ path('send_password_recovery') }}">cliquer ici</a>.</div>
    <div class="form-container">
      <div class="form-subcontainer">
        {{ form_start(form) }}
        {{ form_widget(form) }}
          <button type="submit">Valider</button>
        {{ form_end(form) }}
      </div>
    </div>
    <div class="delete-account-btn-container">
      <button class="delete-account-btn" id="delete_account_btn" type="button"><i class="fas fa-radiation"></i> Supprimer mon compte <i class="fas fa-radiation"></i></button>
    </div>
  </div>
  <div id="modal" class="modal hidden">
    <div data-close-modal="" class="close-modal"><i class="fas fa-times"></i></div>
    <strong>Voulez-vous vraiment supprimer votre compte ?</strong>
    <div class="modal-btn-container">
      <form id="modal_form">
        <button id="modal_submit_btn">Oui</button>
        <button data-close-modal="">Non</button>
      </form>
    </div>
  </div>
  <div id="overlay" class="overlay hidden" data-close-modal=""></div>
{% endblock %}
